@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

button {
    background: #0000006b;
    box-shadow: 0 8px 32px 0 #0000005e;
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 17.5px;
    color: #ffffff;
    font-family: "Inter", sans-serif;
}